<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ libro.titulo }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/css/detalles_libro.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ libro.titulo }}</h1>
        <p><strong>Autor:</strong> {{ libro.autor }}</p>
        <p><strong>Fecha de Publicación:</strong> {{ libro.fecha_publicacion }}</p>
        <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
    </div>

    <footer>
        <p>&copy; LibreriaConLibros 2024</p>
        <a href="http://127.0.0.1:8000/resenas/" class="ir-a-resenas">RESEÑAS</a>
		<a href="http://127.0.0.1:8000/libros/" class="ir-a-resenas">VOLVER A LIBROS</a>
    </footer>
</body>
</html>
