<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar usuario</title>
</head>
<body>
    <h2>Registrar usuario</h2>
    <form method="POST">
    {% csrf_token %}
    {{ formulario.as_p }}
    
    {% if formulario.errors %}
        <ul>
            {% for field, errors in formulario.errors.items %}
                <li>{{ field }}: 
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <button type="submit">Registrar</button>
</form>
</body>
</html>
