<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>RESEÑAS</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/css/lista_resenas.css' %}">
</head>
<body>
    <h1>RESEÑAS</h1>
    <ul>
        {% for resena in resenas %}
            <li>
                <p><strong>- Libro:</strong> {{ resena.libro.titulo }}</p>
                <p><strong>- Usuario:</strong> {{ resena.nombre_usuario }}</p>
                <p><strong>- Calificación:</strong> <span class="calificacion">{{ resena.calificacion }}</span></p>
                <p><strong>- Reseña:</strong> {{ resena.texto }}</p>
            </li>
        {% endfor %}
    </ul>

    <footer>
        <p>&copy; LibreriaConLibros 2024</p>
		<a href="http://127.0.0.1:8000/libros/" class="ir-a-libro">LIBROS</a>
    </footer>
</body>
</html>
