<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LISTA DE LIBROS</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/css/libros.css' %}">
</head>
<body>
    <h1>~ LIBROS ~</h1>
    <ul>
        {% for libro in libros %}
            <li>
                <a href="{% url 'detalles_libro' libro.id %}">{{ libro.titulo }}</a>
            </li>
        {% endfor %}
    </ul>
	
	<footer>
        <p>&copy; LibreriaConLibros 2024</p>
		<a href="http://127.0.0.1:8000/resenas/" class="ir-a-resenas">RESEÑAS</a>
    </footer>
</body>
</html>
