<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>RESEÑAS</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/css/lista_resenas.css' %}">
	<style>
        .enlaces-superiores {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            gap: 10px;
        }
        .enlaces-superiores a {
            text-decoration: none;
            background-color: #007bff;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
        }
        .enlaces-superiores a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
	<div class="enlaces-superiores">
    {% if usuario_nombre %}
        <span>Hola, {{ usuario_nombre }}</span>
        <a href="{% url 'logout_usuario' %}">Cerrar Sesión</a>
    {% else %}
        <a href="{% url 'login_usuario' %}">Iniciar Sesión</a>
        <a href="{% url 'crear_usuario' %}">Registrar Usuario</a>
    {% endif %}
    <a href="{% url 'crear_libro' %}">Añadir Libro</a>
    <a href="{% url 'crear_resena' %}">Añadir Reseña</a>
</div>
    <h1>RESEÑAS</h1>
    <ul>
        {% for resena in resenas %}
            <li>
                <p><strong>- Libro:</strong> {{ resena.libro.titulo }}</p>
                <p><strong>- Usuario:</strong> {{ resena.nombre_usuario }}</p>
                <p><strong>- Calificación:</strong> <span class="calificacion">{{ resena.calificacion }}</span></p>
                <p><strong>- Reseña:</strong> {{ resena.texto }}</p>
            </li>
        {% endfor %}
    </ul>

    <footer>
        <p>&copy; LibreriaConLibros 2024</p>
		<a href="http://127.0.0.1:8000/libros/" class="ir-a-libro">LIBROS</a>
    </footer>
</body>
</html>
